*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #636262;
  color: #e4e4e4c9;
  font-family:system-ui;
  
}
#crud{
 width: 80%;
 margin: auto;
 box-shadow: #1f1e1e 0 0 88px 1px ;
 padding:1px 10px;
 border-radius: 20px;
}
.head{
  text-align: center;
  text-transform:uppercase ;
  margin: 10px 0;
  background-color: #292828;
  border-radius: 10px;
  box-shadow: rgb(65, 64, 64) 1px 1px 5px 2px;

}
#inpstyle{
  box-shadow: #292828 0px 0 10px 2px ;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  align-content: center;
}
.inputs input{
  margin: 2px 0 ;
  background: #0a0909;
  height: 25px;
  border-style: none;
  padding: 8px 8px;
 

  border-radius: 5px;
  color: rgb(195, 198, 201);
  width: 20%;
  
  transition:0.5s ;
  
}
.inputs input::placeholder{
  padding: 10px;
}
.inputs input:hover{
   height: 40px;
}
#title{
display: block;
width: 100%;
justify-self: center;
}

#count,#category{
  display: block;
  width: 100%;
  justify-self: center;
}

#total{
  width: 200px;
 padding: 8px;
 border-radius: 10px;
 border-style: none;
 background-color: #8f4747;
 
}
#total::before{
  content: "Total: ";
}
#btncreate{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background: #971717;
  color: rgb(235, 207, 207);
  transition: .5s ease;
  
}
#btncreate:hover{
   background: rgb(235, 207, 207);
  color: #971717;
  
  letter-spacing: 1px;
  height:40px;
}
#search{
   display: block;
  width: 90%;
  justify-self: center;
}


.btnserch{
   width: 45%;
 
  height: 30px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  background: #971717;
  color: #ebcfcf;
  transition: 0.2s ease;
  
}
.btnserch:hover{
   background: rgb(235, 207, 207);
  color: #971717;
 
  letter-spacing: .5px;
}

#btnblock{
  display: flex;
  justify-content: space-between;
 
}
table{
  width: 100%;
  text-align: center;
}

 table th,td{
  padding: 5px;
 }

table button{
  width: 100%;
    border-radius: 10px;
  border-style: none;
  cursor: pointer;
  background: #971717;
  color: #ebcfcf;
  transition: 0.2s ease;
  
}
table button:hover{
  background: rgb(235, 207, 207);
  color: #971717; letter-spacing: 0.5px;
}
#divdeletAll{
  width: 100%;
  display: flex;
   justify-content: center;
  background-color: #0a090900;
  margin-top: 10px;
}
#btnDelet{
  height: 25px;
  width: 50%;
    border-radius: 10px;
  border-style: none;
  cursor: pointer;
  background: #971717;
  color: #ebcfcf;
  transition: 0.1s ease;
  justify-self: center;
}
#btnDelet:hover{
    background: rgb(235, 207, 207);
  color: #971717; letter-spacing: 0.5px;
  font-size: 15px;
}