*{
    margin: 0;
   padding: 0%;
}

#container{
    
    background-color: black;
    width: 500px;
    height: 500px;
    justify-self: center;
    margin-top: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap:10px;
    overflow: hidden;
    z-index: -5;
   
    

}
body{
    width: 80%;
    justify-self: center;
    background-color: rgb(141, 141, 141);
    

}
#container img{
    height: 160px;
    width: 160px;
    background-color: rgba(109, 145, 212, 0.767);

    
}

#content{
    width: 100%;
    background: rgb(79, 74, 83);
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    color: rgba(240, 255, 255, 0.74);
    padding: 10px; 
    
   
}

.remov{
    display:none;
    

}
#won{
    background: rgba(43, 42, 42, 0.192);
    height: 98vh;
    width: 81.5%;
    position: absolute;
    border-radius: 15px;
    
}
#Poin{
   position: absolute;
   top: 150px;
   color: rgb(51, 50, 50);
   width: 300px;
  
}
#Poin h1{
    background-color: rgb(128, 159, 206);
    border-radius: 10px;
    margin: 5px;
}
#Poin h1 p{
display: inline-block;

}
button{
     background-color: rgb(128, 159, 206);
    border-radius: 10px;
    margin: 5px;
    top: 150px;
   color: rgb(51, 50, 50);
   width: 250px;
   height: 45px;
   justify-self: center;
   cursor: pointer;
}