* {
  margin: 0;
  padding: 0;
  font-family:monospace;
}

body {
  background: url(mountains.png) fixed;
  background-size: cover;
  height: 100vh; /* باش ياخذ طول الشاشة كامل */
  margin: 0; /* نحيد المسافات الافتراضية */
  display: flex; /* نخدمو بـ flexbox */
  justify-content: center; /* وسط أفقياً */
  align-items: center; /* وسط عمودياً */
}
#evrything {
  height: 100vh;
  width: 75vw;

  padding-top: 50px;

  box-sizing: border-box;
}
#evrything1 {
  display: flex;
  justify-content: space-around;
}

button {
  width: 150px;
  height: 60px;
  border-radius: 20px;
  border-style: none;

  background-color: #8806ce;
  backdrop-filter: blur(2px);
  color: rgb(247, 240, 231);
  transition: 0.1s;
  cursor: pointer;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
button:hover {
  color: rgba(0, 0, 0, 0.384);
  background-color: rgba(247, 240, 231, 0.562);
}
button:active {
  background-color: azure;
}
#checklist {
  width: 20px;
  position: relative;
  top: 4px;
}
input {
  width: 500px;
  height: 60px;
  border-radius: 20px;
  border-style: none;
  background-color: #702963ce;
  backdrop-filter: blur(5px);
  color: rgb(247, 240, 231);
  padding-left: 10px;

  transition: 1s;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

input:focus {
  width: 600px;
  outline: none;
}

#Tasks-list {
  width: 100%;

  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#titel-list {
  height: 50px;
  align-content: center;
  background-color: #730aac;
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(240, 255, 255);
  border-radius: 20px;
  justify-self: center;
  margin-bottom: 30px;
}
input::placeholder {
  color: rgba(240, 248, 255, 0.767);
}
#container {
  width: 80%;
}
#ul li{
    display: flex;
  padding: 5px;
  list-style: none;
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  border-radius: 10px;
  transition: .5s ;
  justify-content: space-between;

}
#ul li:hover{
    background: rgba(211, 208, 208, 0.219);
    color: #2f2930;
}
#ul {
  background-color: rgba(20, 2, 20, 0.295);
  color: rgba(255, 255, 255, 0.863);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(5px);
}
#icone{
   width: 30px;
   
}
.textching{
  text-decoration:line-through;
  color: rgba(0, 0, 0, 0.493);
    transition: all 0.3s ease;
}
#img{
  width: 250px;
}
h1{
  position: absolute;
  top: 250px;
  left: 300px;
  color: #1a1818ab;
  
}
#deletall{
  background: #521c0b;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: rgba(240, 248, 255, 0.753);
  transition: .5s;
  cursor: pointer; 

}
#deletall:hover{
  background: #d30404;
  color: rgb(53, 4, 42);
}
.remove{
  display: none;
}
#isone{
    width: 30px;
    position: relative;
    top: 5px;
}
